<ion-view view-title="Your Smoking Stats">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-refresh" ng-click="checkStats()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="desc-text text-center">
      <p>Stats shows your smoke counts on a daily basis. In case you were not aware, the more you smoke, the sooner you die, but maybe that's a good thing for the rest of us.</p>
    </div>
    <div class="row">
      <div class="col">
        <ion-list>
          <ion-item class="item item-icon-right" ng-repeat="item in stats">
            <ion-delete-button class="ion-minus-circled"></ion-delete-button>
            {{ item.day | dayString }}
            <span class="badge badge-assertive">{{ item.count }}</span>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <div class="title">Inevitable death in {{ random }} days!</div>
  </ion-footer-bar>
</ion-view>